<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="csrf-token" content="<%= csrfToken %>">
        <link href="./css/styles.css" rel="stylesheet">
        <title>Todo Manager</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="./css/styles.css" rel="stylesheet">
    </head>
    <body>
       <div class= "grid  grid-cols-6">
        <div class="col-start-3 col-span-2">
          <%- include("header.ejs") %>
          <p class="py-2">Welcome to the To-Do manager</p>
          <p class="py-2">New here? <a href="/signup" class="text-blue-500">SignUp</a></p>
          <p class="py-2">Already have an account? <a href="/login" class="text-blue-500">SignIn</a></p>
        </div>
      </div>
    </body>
</html>